@font-face {
  font-family: 'Mount Heavy';
  src: url('/fonts/Mont-HeavyDEMO.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Mount Heavy', Verdana, sans-serif;
  background-color: rgb(21, 29, 38);
}

* {
  box-sizing: border-box;
}

h1 {
font-size: 5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

p {
  font-size: 0.8rem;
}