@import url("https://fonts.googleapis.com/css2?family=Goldman&display=swap");

.PictureModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 2rem;
  text-align: center;
}

.PictureBtnModal {
  width: 11rem;
  font-family: "Mount Heavy", Verdana, sans-serif;
  font-size: 0.7rem;
  border-radius: 50px;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  color: rgb(21, 29, 38);
  cursor: pointer;
  margin: 10px auto;
}

.inputPicture {
  font-family: Verdana, sans-serif;
  background-color: rgb(21, 29, 38);
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: #ffffff;
  padding: 0.5rem;
  border-radius: 5px;
  display: block;
  margin: 10px auto;
}
